body{
	background-color: rgb(87, 130, 133);
}
.contener{
	width:50%;
	height: 90vh;
	margin: auto;
	background-color: rgb(170,203,204);
	background-image: url("plage-thailande-railay.jpg");
	background-repeat: no-repeat;
}
.haut{
	width: 100%;
	height: 10%;
	background-color: rgb(5,36,38);
}
.text1{
	position: absolute;
	color: white;
	font-size: 30px;
	font-weight: bold;
	top: -5px;
	left: 42%;
}
/*.croix{
	position: absolute;
	margin-left: 280px;
	margin-top: 20px;
}*/
.img1{
	height:100%;
	width: 5%;
	display: block;
	margin-left:5%;
	float:left;
	
}
.form{
	width:50%;
	height: 43vh;
	margin: 0 auto;
	background-color: rgb(242,242,242);
	margin-top: 15vh;
}
.login_form{
	width: 100%;
	height: 25%;
	background-color: rgb(81,191,208);
}
.log_form{
	color:rgb(255, 255, 255);
	margin-top:2%;
	position: absolute;
	margin-left: 2%;
	font-family: cursive;
	margin-left: 10%;
}
form input{
	width: 90%;
	height: 5vh;
	margin-left: 5%;
	margin-top: 5%;
	background-color:rgb(240,238,241);
}
.icone1{
	
	margin-left: -5vh;
	margin-top: 2%;

}
.icone2{
	position: absolute;
	margin-left: -5vh;
	margin-top: 2%;
}
button{
	width: 30vh;
	height: 5vh;
	margin-top: -9%;
	margin-left: 40%;
	background-color: rgb(81,191,208);
	
}
.inscrire{
	float: right;
	margin-right: 10%;
	color: rgb(38, 189, 226);
	font-size: 15px;
	
}
a{
	text-decoration: none;
}
p{
	border:1px solid red;
	background-color: red;
	color: white;
	text-align: center;
}
.error{
	margin-top: 30px;
}
